<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="GestionValesRdz.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <GestionValesRdz.Properties.Settings>
      <setting name="servidor" serializeAs="String">
        <value />
      </setting>
      <setting name="basedatos" serializeAs="String">
        <value />
      </setting>
      <setting name="tema" serializeAs="String">
        <value />
      </setting>
      <setting name="AnioFiltroVales" serializeAs="String">
        <value>2025</value>
      </setting>
      <setting name="v1" serializeAs="String">
        <value>False</value>
      </setting>
    </GestionValesRdz.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="localhost\sqlexpress_ValesRdzDatos_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost\sqlexpress;integrated security=SSPI;initial catalog=ValesRdzDatos" />
    <add name="robbiexis\sqlexpress.ValesGasolina.dbo" connectionString="XpoProvider=MSSqlServer;data source=ROBBIEXIS\SQLEXPRESS;user id=sa;password=9753186400;initial catalog=ValesGasolina;Persist Security Info=true" />
    <add name="ValesRdzDatosEntities" connectionString="metadata=res://*/ValesRdzModel.csdl|res://*/ValesRdzModel.ssdl|res://*/ValesRdzModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source={0};initial catalog={1};user id={2};password={3};MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="programacion1\sqlexpress.ValesGasolina4.dbo" connectionString="XpoProvider=MSSqlServer;data source=PROGRAMACION1\SQLEXPRESS;integrated security=SSPI;initial catalog=ValesGasolina4" />
  </connectionStrings>
</configuration>
